<!-- Podemos ayudarnos de la directiva 'ngForm' para obtener una referencia
a la clase 'FormGroup' correspondiente al formulario, y asignarla en una
variable del template. Esta variable podemos usarla para acceder a la
validación del formulario.
Además, usamos 'novalidate' para evitar que sea el navegador web quien
valide el formulario, que es el comportamiento por defecto, y sea Angular
en su lugar. -->
<form #contactoRef="ngForm" (ngSubmit)="notificarContacto(contactoRef)" novalidate>
    <div class="row">
        <!-- Nombre -->
        <div class="offset-by-three six columns">
            <label for="nombre">Nombre</label>
            <input 
                type="text"
                name="nombre"
                id="nombre"
                class="u-full-width"
                ngModel
                #nombreRef="ngModel"
                placeholder="Ej. Tim"
                required
                minlength="3">
            <!-- Mensajes de error. Validando el campo. A través de la template reference variable
            tenemos acceso a la colección de posibles errores -->
            <div class="mensaje-error" *ngIf="nombreRef.touched && nombreRef.invalid">
                <div *ngIf="nombreRef.errors.required">El campo nombre es requerido.</div>
                <div *ngIf="nombreRef.errors.minlength">El nombre debe tener al menos {{ nombreRef.errors.minlength.requiredLength }} caracteres.</div>
            </div>
        </div>
        <!-- Apellidos -->
        <div class="offset-by-three six columns">
            <label for="apellidos">Apellidos</label>
            <input 
                type="text"
                name="apellidos"
                id="apellidos"
                class="u-full-width"
                ngModel
                #apellidosRef="ngModel"
                placeholder="Ej. Cook"
                required
                minlength="3">
            <div *ngIf="apellidosRef.touched && apellidosRef.invalid" class="mensaje-error">
                <div *ngIf="apellidosRef.errors.required">El campo apellidos es requerido.</div>
                <div *ngIf="apellidosRef.errors.minlength">El campo apellidos debe tener al menos {{apellidosRef.errors.minlength.requiredLength}} caracteres</div>
            </div>
        </div>
        <!-- Email -->
        <div class="offset-by-three six columns">
            <label for="email">Correo electrónico</label>
            <input
                type="text"
                name="email"
                id="email"
                class="u-full-width"
                ngModel
                placeholder="Ej. tim.cook@apple.com">
        </div>
        <!-- Teléfono -->
        <div class="offset-by-three six columns">
            <label for="telefono">Teléfono</label>
            <input
                type="text"
                name="telefono"
                id="telefono"
                class="u-full-width"
                ngModel
                placeholder="Ej. 555-111222">
        </div>
        <!-- Twitter -->
        <div class="offset-by-three six columns">
            <label for="twitter">Twitter</label>
            <input
                type="text"
                name="twitter"
                id="twitter"
                class="u-full-width"
                ngModel
                placeholder="Ej. tim_cook">
        </div>
        <!-- Facebook -->
        <div class="offset-by-three six columns">
            <label for="facebook">Facebook</label>
            <input
                type="text"
                name="facebook"
                id="facebook"
                class="u-full-width"
                ngModel
                placeholder="Ej. tim_cook">
        </div>
        <!-- Guardar contacto -->
        <div class="offset-by-three six columns">
            <button 
                type="submit" 
                class="button-primary u-full-width" 
                [disabled]="contactoRef.invalid">Guardar</button>
        </div>
    </div>
</form>